body {
    display: flex;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
}

a  {
    text-decoration: none;
    color: #fff;
}

nav {
    background-color: #8A86A5;
}

nav .brand-logo {
    background-color: #8A86A5;
    color: #fff;
    margin-left: 3rem;
    margin-top: -0.2rem;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    margin-left: 15rem;
}

.navbar-fixed {
    margin-bottom: 3rem;
}

.row .input-field.col.s3 {
    margin-left: 1.5rem;
}

#add-button {
    margin-left: 2rem;
    font-family: 'Permanent Marker', cursive;
}

.collection-header {
    font-family: 'Permanent Marker', cursive;
}

.main-content {
    flex: 1 0 auto;
}

form {
    color: #fff;
    background-color: #BFABCB;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    margin-top: 3rem;
}

::placeholder {
    color: #000;
    opacity: 0.6;
}

button {
    background-color: #8948B5 !important;
    color: #fff !important;
    margin-top: 0.5rem;
    
}

ul {
    background-color: #8A86A5 !important;
}

li {
    font-family: 'Nova Mono', monospace;
    background-color: #8A86A5 !important;
    color: #fff;
    
}

li :nth-child(2) {
    margin: 0 1rem;
}

.material-icons {
    float: right;
    margin-top: -0.2rem;
    color: #fff;
    font-weight: 900;
}


footer {
    width: 100vw;
    left: 0;
    bottom: 0;
    color: #fff;
    position: static;
    flex-shrink: 0;
}

.page-footer {
    background-color: #8A86A5;
    color: #fff;

}

.copyright {
    margin-bottom: 3vh;
}


/* Media queries */

@media (max-width: 600px) {
    form {
        margin-top: 0rem;
    }
    form button {
        margin-bottom: 2rem;
    }
    footer {
        position: relative;
    }
}

